@require "app/styles/charte"
 /*
 * IDs
 */
 /*
 * Classes
 */
.post
	cursor: pointer
	padding: 5%
	width: 50%
	line-height: 1.4
	&-title
		color: $black
		font-size: 1.4em
		font-family: Oswald
		text-transform: uppercase
	&-category
		background: $red
		color: $white
		display: inline-block
		font-size: .6em
		letter-spacing: .1em
		margin: .25em 0 .5em
		padding: .5em .75em
		text-transform: uppercase
	&-content
		color: $gray
		font-weight: 300
	&:hover
		background: $white-almost

	
	

	