@require "app/styles/charte"


/*
 * IDs
 */
#footer{
    height: 10vh
    width: 100%
    position: fixed
    bottom: 0em
	text-align: center
    font-size: 2em
}
#footer-texte{
    color: white
    font-size: 1em
    position: fixed
    bottom: 1em
    text-align: center
    font-size: 0.7em
    width 100%
}