@require "app/styles/charte"
 /*
 * Classes
 */
.header
	&-category
		text-decoration: underline
		margin: 0 1em
		cursor: pointer
		color: $black-almost
		&:hover
			color: $red
 		
/*
* IDs
*/
#header
	text-align: center
	padding: 4em 0
    